<% provide(:title, "Contact") %>
    <h1>Sample App</h1>
    <p>
      This is the home page for the
     Contact with someone who responsible for this mess you-re looking at.
    </p>
</body>
</html>